spacy[cuda12x]
numpy==1.26
z3-solver
pytest
treelib
mypy
spacy-dbpedia-spotlight
protobuf
owlready2
matplotlib
scipy
pyqt5
rdflib
conllu
networkx
pydot
PyGObject
xdot
pytest-pycharm
sphinx
sparqlwrapper
compress_pickle
openai==1.61.0
pygraphviz
graphviz
sqlitedict
zstandard
numerizer
Levenshtein
marisa-trie
bidict
intervaltree
tqdm
timexy
stanza
lightning
torch
deepspeed
transformers
optuna
urllib3
langchain
langchain-openai
python-dotenv
rpyc
xxhash
more-itertools
pandas
guppy3
tensorboard
Flask
scikit-learn
dspy
langchain-ollama
litgpt[all]
bitsandbytes
compress-pickle
sentencepiece
jsonpickle
openpyxl
jsonlines
seaborn
pandas-stubs
types-seaborn
types-networkx